/* ================= LUXURY FOOTER ================= */

.footer {
    background: #0b0f19;
    padding: 80px 0;
    position: relative;
}

/* Gradient accent line */
.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 2px;
    background: linear-gradient(
        90deg,
        transparent,
        #00f5d4,
        transparent
    );
}

.footer-inner {
    width: 85%;
    margin: auto;
    text-align: center;
}

.footer-brand {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
    color: white;
}

.footer-brand span {
    color: #00f5d4;
}

/* SOCIAL ICONS */

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 30px;
}

.footer-socials a {
    font-size: 18px;
    color: #9aa4b2;
    transition: 0.3s ease;
}

.footer-socials a:hover {
    color: #00f5d4;
    transform: translateY(-4px);
}

/* COPYRIGHT */

.footer-copy {
    font-size: 14px;
    color: #666;
}
