<nav class="navbar">
    <div class="nav-container">

        <div class="logo">
            Karthik <span>Vijay</span>
        </div>

        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="stories.html">Stories</a></li>
            <li><a href="announcement.html">Announcements</a></li>
            <li><a href="certificates.html">Certificates</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>

<div class="nav-status">
    <span class="status-dot"></span>
    Open to Work
</div>


    </div>
</nav>
